
// Job paramaters to set for this environment

params.scratch = true

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  // software dependencies moved to conda.config

  withLabel: vep {
	container = "docker://quay.io/biocontainers/ensembl-vep:99.2--pl526hecc5488_0"
  }
  withName:vep {
	time = { check_max( 5.h * task.attempt, 'time' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        cpus = 8
  }

}



