params {

   genomes {

    'GRCh38' {
        fasta = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"        
        bwa2_index = "${gatk_bundle_path}/hg38_no_alt/bwa2/Homo_sapiens_GRCh38_no_alts.fa"
        fai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.fai"
        fastagz = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz"
        gzi = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.gzi"
        gzfai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.fai"
        dict = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.dict"
        dbsnp = "${gatk_bundle_path}/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
    }        
    'GRCh37' {
        fasta = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
        bwa2_index = "${gatk_bundle_path}/b37/bwa2/human_g1k_v37_decoy.fasta"
        fai = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.fai"
        fastagz = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz"
        gzfai = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.fai"
        gzi = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.gzi"
        dict = "${gatk_bundle_path}/b37/human_g1k_v37.clean.dict"
        dbsnp = "${gatk_bundle_path}/b37/dbsnp_138.b37.vcf.gz"
    }
        
  }
  
}
