params {

   genomes {
	'hg38' {
		fasta = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta"
         	dbsnp = "${gatk_bundle_path}/hg38/dbsnp_146.hg38.vcf.gz"
	}  
        'hg19' {
                fasta = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta"
                dbsnp = "${gatk_bundle_path}/hg19/dbsnp_138.hg19.vcf.gz"
        }
	'GRCh38' {
		fasta = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"		
		dbsnp = "${gatk_bundle_path}/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
	}        
        'GRCh37' {
                fasta = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
                dbsnp = "${gatk_bundle_path}/b37/dbsnp_138.b37.vcf.gz"
        }
  }
  
}
