params {

   genomes {

    'GRCh38' {
        
        fasta = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"        
        fai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.fai"
    }        
    'GRCh37' {
        fasta = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
        fai = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.fai"
    }
        
  }
  
}
